html,
body {
  padding: 0;
  margin: 0;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.custom_wrapper{
  padding: 0px 99px;
  max-width: 1560px;
  margin: 0 auto;
}