.headerNavbar{
    width: 100%;
    background: url('../public/uploads/OEMG_BACKUP_SLIDE_JPG\ 1.png');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}