.customHeader{
    position: relative;
    width: 100%;
}
.customHeader>div.sliderClick{
    height: 270px;
    display: inline-block;
position: absolute;
bottom: 310px;
left: 103px;
display: flex;
justify-content: space-between;
flex-direction: column;
}
.customHeader>div.sliderClick::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 65px;
    background-color: #FFFFFF;
}
.customHeader>div.sliderClick::after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 65px;
    background-color: #FFFFFF;
}
.customHeader>div.sliderClick li.active{
    width: 9px;
    height: 9px;
    transform: translateX(-3px);
}
.customHeader>div.sliderClick li{
    list-style: none;
    cursor: pointer;
    
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50%;
}
.CustomNav{
    position: absolute;
    width: 100%;
    top: 0;
}
.customHeader>img{
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.title{
    font-weight: 450;
font-size: 72px;
left: 185px;
    top: 174px;
    position: absolute;
    color: white;
}

.homeTitle{
    text-align: center;
    font-size: 48px;
line-height: 61px;
color: #000000;
}
.homeTitle>h3{
    margin-bottom: 10px;
}
.homeTitle>h3>span{
    margin-left: 30px;
}

.LinkHome{
    text-align: right;
}
.LinkHome>a{
    font-size: 24px;
    line-height: 30px;
    
    color: #343333; 
}
.katalogParent{
    
    display: flex;
    flex-wrap: wrap;
    
}

.katalogs{
    width: 100%;
    height: 390px;
    background-size: cover !important;
   background-repeat: no-repeat !important;
    background: url('../public/uploads/download2.png');
}
.categories{
    margin-top: -200px;
}
.lastBanner{
   
    position: relative;
    background: url('../public/uploads/footerbanner.png');
    height: 413px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.lasbannerParent{
    margin: 80px 0;
}
.lastBanner .lastBannerLink{
    position: absolute;
    bottom: 103px;
    left: 103px;
}

.lastBanner .lastBannerLink>a{
    font-size: 36px;
    line-height: 46px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}

