.customHeader{
    position: relative;
    width: 100%;
}
.CustomNav{
    position: absolute;
    width: 100%;
    top: 0;
}
.customHeader>img{
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.title{
    font-weight: 450;
font-size: 72px;

    top: 174px;
    position: absolute;
    color: white;
}

.homeTitle{
    text-align: center;
    font-size: 48px;
line-height: 61px;
color: #000000;
}
.homeTitle>h3{
    margin-bottom: 10px;
}
.homeTitle>h3>span{
    margin-left: 30px;
}

.LinkHome{
    text-align: right;
}
.LinkHome>a{
    font-size: 24px;
    line-height: 30px;
    
    color: #343333; 
}
.katalogParent{
    
    display: flex;
    flex-wrap: wrap;
    
}

.katalogs{
    width: 100%;
    height: 390px;
    background-size: cover !important;
   background-repeat: no-repeat !important;
    background: url('../public/uploads/download\ 2.png');
}
.categories{
    margin-top: -200px;
}